@big-numbers-color: @gray-lightest;
@separator-color: #e6e6e6;

.flow {
    .inner();

    margin-top: 29px;
}

.flow__title {
    margin: 0 0 41px 0;
}

.flow__item {
    align-items: center;
    display: flex;

    &:not(:last-of-type) {
        margin-bottom: 20px;
    }
}

.flow__item-number {
    display: none;
}

.flow__list {
    .reset-list();
}

.flow__item-icon {
    background-color: @brand;
    color: @text-white;
    flex-shrink: 0;
    height: 60px;
    position: relative;
    width: 60px;

    &::after {
        background-position: center center;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        position: absolute;
        top: 50%;
        width: 50px;
    }
}

.flow__item-icon_leaf::after {
    background-image: url('../img/advantage-1.png');
}

.flow__item-icon_powder::after {
    background-image: url('../img/advantage-2.png');
}

.flow__item-icon_cutlery::after {
    background-image: url('../img/advantage-3.png');
}

.flow__item-icon_clock::after {
    background-image: url('../img/advantage-4.png');
}

.flow__item-text {
    .plain-text();

    margin: 0 0 0 20px;
}

@media (min-width: @tablet) {
    .flow {
        border-bottom: 1px solid @separator-color;
        margin-top: 47px;
        padding-bottom: 55px;
    }

    .flow__title {
        margin-bottom: 72px;
    }

    .flow__list {
        display: flex;
        flex-wrap: wrap;
        max-width: 1054px;
    }

    .flow__item {
        align-items: flex-start;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        padding-bottom: 44px;
        position: relative;
        width: 354px;

        &:not(:last-of-type) {
            margin-bottom: 0;
        }

        &:not(:nth-last-of-type(-n + 2)) {
            margin-bottom: 89px;
        }
    }

    .flow__item-number {
        color: @big-numbers-color;
        display: block;
        font-size: 281px;
        left: 118px;
        line-height: 281px;
        margin-top: -154px;
        position: absolute;
        top: 50%;
    }

    .flow__item-text {
        margin: 33px 0 0;
        width: 245px;
        z-index: 2;
    }

    .flow__item-icon {
        height: 80px;
        width: 80px;
    }
}

@media (min-width: @desktop) {
    .flow {
        border-bottom: none;
        margin-top: 78px;
    }

    .flow__list {
        max-width: 100%;
    }

    .flow__item {
        width: 245px;

        &:not(:nth-last-of-type(-n+2)) {
            margin-bottom: 0;
        }
    }
}
