.programs__list {
    .reset-list();
}

.programs__item-title {
    font-size: 24px;
    font-weight: normal;
    line-height: 37px;
    text-transform: uppercase;
}

.programs__item-text {
    .plain-text();
}

.programs__item-link {
    color: @text-main;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: @tablet) {
    .programs__item-title {
        font-size: 36px;
        line-height: 37px;
    }

    .programs__item-link {
        font-size: 20px;
        line-height: 20px;
    }
}
